* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-open-sans {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
}

.logo h2 {
    font-size: 45px;
    font-weight: 900px;
}

.color-orange {
    color: #ff7a00;
}

header{
    background-color: #fff8f3;
    background: url("../images/developer.png"),url("../images/header_bg.png"), #fff8f3;
    background-repeat: no-repeat;
    padding-top: 50px;
    background-position: top left, bottom right;
}

nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}
nav .menu {
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

.btn {
    background-color: #ff7a00;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#banner {
    margin:27px 38px 0 230px ;
display: flex;
justify-content: space-between;
align-items: center;
}
#banner-content {
   max-width: 585px;
}
#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
    
}
#banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;

}
#banner .banner-content P {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    max-width: 585px;

}
#banner .banner-img img {
    max-width: 585px;
    vertical-align: middle;
}
#about {
    padding-top: 130px;
}
#about .about-container{
   width: 71%;
   max-width: 1140px;
   margin: auto;
   text-align: center;
   background-color: #fff8f3;
   padding: 131px 157px ;
}
.section-headding {
    max-width: 827px;
    align-items: center;
    
}
.section-headding h2 {
    font-size: 35px;
    margin-bottom: 30px;

}
.section-headding p {
    font-size: 18px;
    margin-bottom:10px;
    line-height: 30px;
    color: #757575;
}

#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p {
    max-width: 250px;
    text-align: center;
}